li.Foodbox {
    display: flex;
    align-content: space-between;
    align-items: left;
    border: 1px solid #ccc;
    max-width: 70%;
    align-items: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    max-height: 80px;

  }

ul {
    list-style: none;
  }
  
li.Foodbox p {
    flex: 1;
    padding: 12px 24px;
    text-align: left;
    font-size: 20px;
  }
  
li.Foodbox p.name {
    font-weight: bold;
    vertical-align: middle;
    max-width: 60%;
  }
  
li.Foodbox p.price {
    max-width: 20%;
    text-align: right;
  }

li.Foodbox button.check {
  margin: 20px 20px 20px 20px;
  padding: auto;
  width: 30px;
  height: 30px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
  background-color: rgb(68, 155, 150)
}