
ul.Foodbox {
    width: 300pxpx;
    margin: 30px auto;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold
  }

ul {
    list-style: none;
  }